annotated-types==0.7.0
anyio==4.8.0
asgiref==3.8.1
certifi==2024.12.14
charset-normalizer==3.4.1
Django==5.1.4
DJModels==0.0.6
h11==0.14.0
httpcore==1.0.7
httpx==0.27.2
idna==3.10
numpy==2.2.1
ollama==0.4.5
pgvector==0.3.6
psycopg==3.2.3
psycopg2==2.9.10
psycopg2-binary==2.9.10
pydantic==2.10.4
pydantic_core==2.27.2
pytz==2024.2
requests==2.32.3
sniffio==1.3.1
sqlparse==0.5.3
typing_extensions==4.12.2
urllib3==2.3.0
